// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-bahama-blue: #245b85;
$color-paua: #1b1750;
$color-hawkes-blue: #c1d6fe;
$color-solitude: #f0f1f3;
$color-dodger-blue: #2ea2fb;
$color-link-water: #c1cbdd;

// Typography
$ff-main: 'Play', 'Arial', sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
